<div class="container container-feed">
  <div class="row">
    <div class="col-md-4 feed-user-cont">
      <%= render "layouts/user_sidebar" %>
    </div>
    <div class="col-md-8 feed-posts-cont">
      <%= render "posts/new" %>
      <%= render "posts/index" %>
    </div>
  </div>
</div>