<h2>Your friends</h2>
<% if @friends.empty? %>
  <h4>You haven't added any friends :(</h4>
<% else %>
  <div class="friend-requests-container">
    <% @friends.each do |user| %>
      <div class="friend-request">
        <!--- Add user image -->
        <h1><%= link_to "#{user.name}", user_path(user) %></h1>
        <%= link_to "Remove friend", remove_friend_url(user_id: user.id) %>
      </div>
    <% end %>
  </div>
<% end %>