<div class="container container-friendship-requests">
  <div class="row">
    <div class="col-12 friendships-menu">Friend Request</div>
    <% unless @friend_requests.empty? %>
      <div class="container friend-requests">
        <% @friend_requests.each do |request| %>
          <div class="row">
            <div class="col-8 request-name">
              <%= link_to request.name, user_path(request) %>
            </div>
            <div class="col-2">
              <%= link_to "Accept", accept_friend_request_url(user_id: request.id) %>
            </div>
            <div class="col-2">
              <%= link_to "Decline", decline_friend_request_url(user_id: request.id) %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="col-12 friendships-error-message">You don't have any requests</div>
    <% end %>
  </div>
</div>
