<div class="container container-friendships-menu">
  <div class="row row-friendship-requests">
    <%= render '/friendships/requests'%>
  </div>
  <div class="row row-friendship-pending">
    <%= render '/friendships/pending'%>
  </div>
  <div class="row row-friendship-all">
    <%= render '/friendships/friends'%>
  </div>
</div>
