<div class="requests">
  <%= render '/friendships/requests'%>
</div>
<hr>
<div class="sent-friend-requests">
  <%= render '/friendships/pending'%>
</div>
<hr>
<div class="friends-display">
  <%= render '/friendships/friends'%>
</div>