<div class="container new-post">
  <%= form_for(@new_post, as: :post, url: posts_path) do |f| %>
    <div class="field">
      <%= f.text_field :content, placeholder: "What are your thinking about #{current_user.name}?", class: "new-post-field"%>
    </div>
    <div class="actions">
      <%= f.submit "Post", class: "btn new-post-submit" %>
    </div>
  <% end %>
</div>
