@import "tejuino.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

$background-black: #272727;
$background-white: #e0e0e0;
$dark-blue: #003366;
$dark-wine: #490f0f;
$light-black: #252525;
$light-blue: #006edb;
$light-grey: #aaaaaa;
$medium-blue: #0052a3;
$medium-grey: #616161;
$pastel-blue: #90b9e2;
$peach: #dd9797;
$thin-grey: #ececec;

/* General Style */

* { font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', Arial, sans-serif }

footer {
  background-color: $background-black;
  color: #ffffff;
}

/* General Style */

/* Sign Up / Sign In Page */

.container.container-registration-new,
.container.container-session-new {
  background-color: $background-white;
  padding: 3rem 2rem 5rem 2rem;
  text-align: center;
  form {
    .field.checkbox {
      margin: 1rem 0;
      padding-right: 6rem;
      text-align: right;
    }
    .actions {
      margin-bottom: 1.5rem;
      text-align: right;
    }
  }
  .col-md-6:nth-of-type(2) {
    background-color: #ffffff;
    border-radius: 2.5rem;
    padding: 5rem 2rem;
    h4 {
      font-size: 2.5rem;
      margin: 2rem 0;
      padding: 0 1rem;
    }
  }
}

.container.container-registration-new form input,
.container.container-session-new form input {
  border-radius: 0;
  font-size: 1.5rem;
  margin: 0;
  padding: 1rem 0.5rem;
  width: 100%;
  &[type="checkbox"] { width: 5%; }
  &[type="submit"].btn {
    background-color: $dark-blue;
    border: 2px solid $medium-blue;
    color: #ffffff;
    font-size: 1.8rem;
    margin-right: 8rem;
    width: 50%;
    &:hover {
      background-color: $medium-blue;
      cursor: pointer;
    }
  }
}

/* Sign Up / Sign In Page */

/* Recent posts */

.post {
  align-items: center;
  a:hover { text-decoration: none; }
  h4 {
    font-size: 2.5rem;
    margin: 2rem 0;
    padding: 0 1rem;
  }
  .container-post {
    display: flex;
    flex-direction: row;
    padding: 0 0.5rem;
  }
  .post-info {
    padding: 0 0.5rem;
    text-align: right;
    width: 100%;
    h5 {
      color: $light-grey;
      font-size: 1.125rem;
      padding: 0 0.25rem;
    }
  }
}

.post-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 2rem;
  width: 80%;
  h5 {
    color: $medium-grey;
    font-size: 2rem;
  }
}

.user-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20%;
  a { font-size: 2rem; }
  .user-img-mock {
    background-color: $background-white;
    border-radius: 50%;
    content: '';
    margin: 0 auto;
    height: 45px;
    width: 45px;
  }
}

.recent-posts {
  background-color: #ffffff;
  padding: 5rem 2rem;
  width: 95%;
}

/* Recent posts */

/* Footer */

.footer {
  align-content: center;
  display: flex;
  flex-direction: column;
  height: 10vh;
  justify-content: center;
  padding: 0;
  z-index: 3000;
}

/* Footer */

/* Feed style */

.btn.btn-unliked-small {
  background-color: $light-grey;
  border: none;
  font-size: 1.25rem;
  margin: 1rem 1.5rem;
  padding: 0.5rem 1.5rem;
  &:hover { background-color: $medium-grey; }
  a {
    color: #ffffff;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}

.container.container-feed {
  height: 93vh;
  margin: 0 0 1rem 0;
  max-width: none;
  padding: 0;
  width: 100%;
  .row {
    padding: 0;
    .feed-posts-cont {
      max-height: 90vh;
      overflow-y: scroll;
    }
    .feed-user-cont {
      height: 100vh;
      margin-top: -63px;          /* -nav */
    }
  }
}

.container.container-post-feed { padding: 0; }

.container-feed-alert { padding: 4rem; }

.post {
  border-bottom: 1px solid $light-grey;
  margin-top: 1rem;
  .post-content h5 { color: $light-black; }
}

.post-modif {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  li {
    margin: 0 1rem;
    a {
      color: $medium-grey;
      font-size: 1.5rem;
    }
  }
}

/* Feed style */

/* User Side-bar */

.container.container-user {
  align-content: center;
  border-right: 1px solid $light-grey;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  min-height: 80vh;                   /* 100 -footer */
  padding: 1.5rem 2.5rem;
  position: sticky;
  top: 0;
  h2 {
    font-size: 2.5rem;
    margin: 1rem 0;
  }
  h3 {
    font-size: 2.25rem;
    margin: 1rem 0;
  }
  h4 {
    font-size: 1.75rem;
    a { font-size: inherit; }
    a:hover {
      color: $medium-blue;
      text-decoration: none;
    }
  }
  h5 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  .user-friends {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.container-friend {
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
  a:hover {
    color: $dark-blue;
    text-decoration: none;
  }
  .mock-img {
    background: $dark-blue;
    border-radius: 50%;
    height: 40px;
    margin: 0 auto 0.5rem auto;
    width: 40px;
  }
}

.row.user-info {
  border-bottom: 1px dashed $light-grey;
  margin: 0;
  text-align: center;
  .container.container-bio {
    color: $medium-grey;
    margin: 2rem 0;
    padding: 0 2rem;
    text-align: justify;
  }
  .img-mock {
    background-color: $medium-blue;
    border-radius: 50%;
    height: 100px;
    margin: 0 auto;
    width: 100px;
  }
}

/* User side-bar */

/* New post */

.container.new-post {
  background: #ffffff;
  border-bottom: 1px solid $light-grey;
  padding-bottom:  1rem;
  position: sticky;
  top: 0;
  z-index: 2;
  .new-post-field {
    border: none;
    padding: 2rem;
  }
  .actions input[type="submit"] {
    background-color: $dark-blue;
    border-radius: 2rem;
    font-size: 2rem;
    margin: 0.5rem 0 1rem 2rem;
    padding: 0.5rem 1rem;
    &:hover {
      background-color: $medium-blue;
      cursor: pointer;
    }
  }
  .new-post-submit {
    background-color: $medium-blue;
    border: none;
    color: white;
    margin: 0 2.5rem;
    width: 10%;
    &:hover {
      background-color: $dark-blue;
      transition: background-color 1000ms ease;
    }
  }
}

/* New post */

/* Show Post */

.btn.btn-unliked-big {
  background-color: $light-grey;
  border: none;
  font-size: 1.5rem;
  padding: 0.75rem 2rem;
  &:hover { background-color: $medium-grey; }
  a {
    color: #ffffff;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}

.col-post-like { margin: 1rem 0 2rem 0; }

.container.container-show-post {
  font-size: 2rem;
  padding: 1rem 2.5rem;
  .post-control a {
    color: $medium-grey;
    margin: 0 1rem;
  }
  .post-creator {
    font-size: 2.4rem;
    font-style: italic;
    font-weight: 800;
    margin: 0 5rem 0 2.5rem;
    a:hover {
      color: $medium-blue;
      text-decoration: none;
    }
  }
  .post-metadata { margin-bottom: 4rem; }
  .post-title {
    font-size: 4rem;
    font-weight: 600;
    padding: 1.5rem 2rem;
  }
}

/* Show Post */

/* Edit post */

.edit-post {
  border-bottom: 1px solid #000000;
  padding-bottom:  1rem;
  .edit-post-field {
    border: 1px solid $light-grey;
    color: $light-black;
    margin: 0 2.5rem 1.5rem;
    padding: 1.5rem 2rem;
  }
  .edit-post-submit {
    background-color: $medium-blue;
    border: none;
    color: white;
    margin: 0 2.5rem;
    width: 10%;
    &:hover {
      background-color: $dark-blue;
      transition: background-color 1000ms ease;
    }
  }
}

/* Edit post */

/* Commnet Main Container */

.btn.new-comment-submit {
  background-color: $medium-blue;
  color: #ffffff;
  &:hover {
    background-color: $light-blue;
    cursor: pointer;
  }
}

.container.container-comment-edit,
.container.container-comment-new {
  border: 0.1rem solid $medium-grey;
  border-top: none;
  .row {
    align-items: center;
    justify-content: space-between;
    input[type="text"] {
      border-radius: 1.25rem;
      padding: 2rem 1rem;
    }
  }
}

.container.container-comment-edit { border-top: 0.1rem solid $medium-grey; }

.container.container-comments {
  padding: 0 2.5rem;
  > * { background-color: $thin-grey; }
  .container.container-comment {
    border: 0.1rem solid $medium-grey;
    border-top: none;
    padding: 2rem 1rem; 
    > .row .container { text-align: center; }
    .comment-author {
      font-size: 2.4rem;
      font-style: italic;
      font-weight: 600;
    }
    .comment-content {
      color: $medium-grey;
      font-size: 2.2rem;
    }
  }
  .title-comments {
    border: 0.1rem solid $medium-grey;
    color: $dark-blue;
    font-size: 3.5rem;
    padding: 1rem 2.5rem;
  }
}

/* Commnet Main Container */

/* Alerts / Flashes */

.alert {
  left: 0;
  margin: 0;
  padding: 3rem;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.alert-success {
  background-color: $pastel-blue;
  color: $dark-blue;
}

.alert-danger {
  background-color: $peach;
  color: $dark-wine;
}

/* Alerts / Flashes */
