$dark-blue: #003366;
$medium-grey: #616161;

// General Style

.container.container-friendships-menu .row { padding: 2.5rem 0.5rem; }

.col-12 {
  &.friendships-error-message {
    color: $medium-grey;
    font-size: 2.6rem;
    font-style: italic;
    text-align: center;
  }
  &.friendships-menu {
    color: $dark-blue;
    font-size: 3rem;
    font-weight: 800;
    margin: 0.5rem 0;
  }
}

// General Style
