$light-grey: #aaaaaa;
$medium-blue: #0052a3;
$medium-grey: #616161;

// User's Show Page

.container.container-show-user {
  // User Data Row
  > .row:nth-child(1) [class^="col-"]:nth-child(1) {
    text-align: right;
    .user-name {
      font-size: 3.8rem;
      font-weight: 600;
      padding: 1.5rem 0;
    }
    .user-email {
      font-size: 3.2rem;
      padding: 1rem 0;
    }
  }
  // User Bio Row
  > .row:nth-child(2) .container {
    > .col-12 {
      font-size: 3.4rem;
      font-weight: 600;
      padding: 1rem 0 1rem 6rem;
    }
    .container.user-description {
      border: 0.2rem solid $light-grey;
      font-size: 2.8rem;
      padding: 2.5rem;
    }
  }
  // Meta Info Row
  > .row:nth-child(3) .col-6 {
    > .container .col-12:nth-child(1) {
      font-size: 3.4rem;
      font-weight: 600;
      text-align: center;
    }
  }
}

.row.user-post {
  border: 0.1rem solid $light-grey;
  font-size: 2.8rem;
  padding: 2rem;
  .col-9.user-post-title a:hover { text-decoration: none; }
  .col-3.user-post-likes {
    color: $medium-blue;
    text-align: center;
  }
}

.row.user-friends > .user-friend {
  text-align: center;
  .col-12.friend-name {
    font-size: 2.4rem;
    font-weight: 600;
    a:hover { text-decoration: none; }
  }
}

.col-12.user-nill-message {
  color: $medium-grey;
  font-size: 2rem;
  padding: 1rem 0;
  text-align: center;
}

// User's Show Page
